# Configuration file for cloudpoint_cli
# -------------------------------------
# All entries should be made below the '[GLOBAL]' line
# REQUIRED PARAMETERS
# ===================
# cloudpoint_ip : Enter the IP address of the server where Veritas CloudPoint is installed
# cp_token_file : Enter the file name to store the token received after authentication
# OPTIONAL PARAMETERS
# ===================
# cloudpoint_username : Enter the username of the CloudPoint user you wish to authenticate with
# cloudpoint_password : Enter the password for the 'cloudpoint_username' user. 

[GLOBAL]
cloudpoint_ip = 10.0.2.1
cp_token_file = /root/.cloudpoint_token
#cloudpoint_username = <username>
#cloudpoint_password = <password>
