# Configuration file for cloudpoint_cli
# -------------------------------------
#
# All entries should be made below the '[GLOBAL]' line
#
# REQUIRED PARAMETERS
# ===================
# cloudpoint_ip : Enter the IP address of the server where Veritas CloudPoint is installed
# cp_token_file : Enter the file name to store the token received after authentication
# cli_log_level : Enter a log level for CLI logs. Choose from debug, info, warning, error, critical
#                 debug being the most verbose and critical being the least.
# cli_log_file  : Enter the full path to where cli logs should be stored 
#
# OPTIONAL PARAMETERS
# ===================
# cloudpoint_username : Enter the username of the CloudPoint user you wish to authenticate with
# cloudpoint_password : Enter the password for the 'cloudpoint_username' user. 
#                       Providing a username and password ensures you don't have to authenticate manually
# DEFAULT VALUES
# ===================
# cloudpoint_ip = 127.0.0.1
# cp_token_file = /root/.cloudpoint_token
# cli_log_level = info
# cli_log_file  = /cloudpoint_cli/cli.log
#
[GLOBAL]
cloudpoint_ip = 127.0.0.1
cp_token_file = /root/.cloudpoint_token
cli_log_level = info
cli_log_file  = /cloudpoint_cli/cli.log
#cloudpoint_username = <username>
#cloudpoint_password = <password>
